{% extends 'core/base.html' %}
{% block body %}
    <form action="" method="post">
    {% csrf_token %}
        <label for="plaque">پلاک :</label>
        <input type="text" name="plaque" id="plaque">
        <label for="date1">از :</label>
        <input type="text" name="date1" id="date1">
        <label for="date2">تا :</label>
        <input type="text" name="date2" id="date2">
        <input type="submit" value="دریافت گزارش">
    </form>
<script type="text/javascript">
    $(function() {
        $("#date1 , #date2").persianDatepicker();
    });
</script>
{% endblock %}